name: Terraform CI/CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the repo
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      # 3. Login to Azure using JSON creds
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # 4. Initialize Terraform backend
      - name: Terraform Init
        run: terraform init -backend-config="resource_group_name=test-demo-rg" `
                             -backend-config="storage_account_name=testdemostorage963" `
                             -backend-config="container_name=dev" `
                             -backend-config="key=terraform.tfstate" `
